
// No owner data
data/PRECIPITACION - Juigalpa CHIRPS (2002-2019).xlsx
data/PRECIPITACION - Juigalpa INETER (2002-2019).xlsx
data/PRECIPITACION - Juigalpa TRMM (2002-2019).xlsx
data/PRECIPITACION - Managua CHIRPS (2002-2019).xlsx
data/PRECIPITACION - Managua INETER (2002-2019).xlsx
data/PRECIPITACION - Managua TRMM (2002-2019).xlsx
