[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spicy = "*"
jupyterlab = "*"
pandas = "*"
numpy = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.12"
